@* ViewBag.User = _context
    .Users
    .Find(userId); *@

<p>Hi, @ViewBag.User.FirstName @ViewBag.User.LastName!</p>
<h1>Dashboard is here</h1>

@* note that we are senbding to a different controller *@
<a asp-action="Logout" asp-controller="Users">Logout</a>
